.box 
{
	position: fixed;
	width: 20%;
	overflow-y: auto;
	word-wrap: break-word;
}

.headerDivider 
{
	border-left:1px solid #38546d; 
	border-right:1px solid #16222c; 
	height:500000px;
	position:absolute;
	left:400px;
	top:250px; 
}

th 
{
	height: 50px;
} 

img.divider-vertical 
{
	height: 100%;
	width: 0px;
	position: fixed;
	left: 21%;
	top: 0px;
}

.searchGood 
{
	width: 300px;
	background-color: white;
	border: 1px solid #CCC;
	border-radius: 4px;
	height: 35px;
	padding: 7px; 0px; 0px; 0px;
}

.searchBad 
{
	width: 300px;
	background-color: red;
	border: 1px solid #CCC;
	border-radius: 4px;
	height: 35px;
	padding: 7px; 0px; 0px; 0px;
}

.glowing-border 
{
	border: 2px solid #dadada;
	border-radius: 7px;
}

.glowing-border:focus 
{ 
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}	

#DictionaryImageContainer 
{
	width: 77%;
	height: 80%;
	float: right;
	float: bottom;
	top: 5px;
	z-index: -1;
}

#DictionaryImage 
{
	width: 98%;
	overflow: visible;
}

#MobileHighlighter 
{
	background-color: #FFFF00;
}

#ButtonsContainer 
{
	background-color: white;
	position: fixed;
	top: 10px; 
	left: 22%;
	border: 5px solid #FAFACB;
	z-index: 100;
}

#ButtonsSpaceHolder 
{
	background-color: white;
	position: relative;
	left 22%;
	top: 10px;
	border: 5px solid white;
	z-index: -2;
}

.il 
{
	text-decoration: none;
	font-size: 150%;
	display: block;
	color: blue;
}

body 
{
	font-family: BukyVede;
}

input 
{
	font-family: BukyVede;
	font-size: 30px;
}
